.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.col {
    width: 45%;
    height: 100%;
}

.col:last-child {
    width: 50%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
}